* {
    margin: 0;
}

.movieCardContainer {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
}

.movieCardContainer a {
    text-decoration: none;
}

.movieCardContainer h4 {
    color: snow;
    padding: 10px;
    text-align: center;
}

