:root {
    --fonBlueDark: rgb(30, 144, 255, 0.8);
    --fonBodyMain: rgb(0, 191, 255, 0.7);
    --fonBlack: rgb(6,14,31, 0.8);
    --textColorLight: rgb(239, 239, 239);
}

* {
    margin: 0;
}

/*----------UserInfo-----------*/
.userInfoBlock {
    width: 200px;
    height: 200px;
    font-size: 26px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: dodgerblue;
    background-color: var(--fonBlack);
    border: 3px solid var(--textColorLight);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 70px;
}

/*----------Genres----------*/
.genresBox {
    font-size: 20px;
    margin-top: 50px;
}

.genresBox h2 {
    margin-bottom: 10px;
}
.genresBox li {
    text-decoration: none;
    list-style-type: none;
    padding: 0 10px;
    box-sizing: border-box;
}

.genresBox li:hover {
    background-color: yellow;
    border-radius: 10px;
}

/*-------MovieCard-------*/
.movieCardContainer {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
    font-size: 18px;
    transition: 0.5s;
}

.movieCardContainer:hover {
    transform: scale(1.2);
}

.movieCardContainer a {
    text-decoration: none;
}

.movieCardContainer h4 {
    color: var(--fonBlack);
    padding: 10px;
    text-align: center;
}

/*-------MovieDetailCard------*/
.container {
    padding: 50px;
}

.mainWrapper {
    border: 2px solid var(--textColorLight);
    display: flex;
    column-gap: 20px;
    background-image: linear-gradient(gray, white, deepskyblue);
}

.leftSlider {
    font-size: 24px
}

.leftSliderInfo {
    padding: 30px;
}

.leftSliderInfo div {
    margin-bottom: 10px;
}

.mainBody {
    font-size: 24px;
    text-align: justify;
    padding-right: 20px;
}

.mainBodyHeader {
    margin-top: 30px;
}

.mainBodyHeader a {
    text-decoration: none;
}

.mainBodyActors {
    margin-top: 20px;
}

.actors {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 10px;
    justify-content: center;
    overflow-y: scroll;
    /*overflow: revert;*/
    max-height: 100px;
}

.actorsHeader {
    margin-bottom: 20px;
}
.actors::-webkit-scrollbar {
    width: 0;
}

.mainBodyOverview {
    margin-top: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.mainBodyPhotoSlider {
    padding: 10px 0;
}

.videoContainer {
    height: 400px;
    border: 2px solid var(--textColorLight);
    background-image: var(--fonBlueDark);
    text-align: center;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColorLight);
}

/*-------MoviePhotos----------*/
.photosWrapper {
    display: flex;
    flex-wrap: wrap;
    max-height: 273px;
    overflow-y: scroll;
}

.photosWrapper img {
    width: 25%;
}

.photosWrapper::-webkit-scrollbar {
    width: 0;
}

/*----------MovieCast-----------*/
.actorsWrapper {
    font-size: 14px;
    max-width: 10%;
    text-align: center;
}